################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/projects/vs2017/Debug
/projects/vs2017/.vs/vs2017/v15
/projects/vs2017/unit_tests/Debug
/projects/vs2017/vs2017/Debug
/.vs
/projects/vs2017/vs2017/x64/Debug
/projects/vs2017/x64/Debug
/projects/vs2017/Release
/projects/vs2017/unit_tests/Release
/projects/vs2017/vs2017/Release
