################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/projects/vs2017/Debug
